@use 'variables';
.header{
    z-index: 1;
    width: 100%;
    position:fixed;
    padding-top: 8px;
    height: 64px;
    background-color: variables.$headerBackground ;
    transition: all 0.2s;
   &--is-hidden{
    background-color: transparent;
        .header__brand, .button:first-child{
            visibility: hidden;   
            transition: all 0.2s;        
    }
    }
    &__brand{
        display: block;
        width: 79px;
        cursor: pointer;
     
    }



    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}